* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d0d0d;
  font-family: "Sofia Sans";
  color: #ffffff;
}

li {
  list-style-type: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.container {
  padding: 0 5%;
}

nav {
  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

nav > div {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  width: 300px;
  min-height: 100vh;
  position: absolute;
  right: 0px;
  top: 0;
  background-color: #f65f5f;
  box-shadow: 0 0 10px #f65f5f;
  opacity: 0;
  visibility: hidden;
  font-size: 18px;
  z-index: 1;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

nav .button {
  background-color: #0d0d0d;
  border: none;
  border-radius: 100px;
  padding: 10px 20px;
  font-size: 18px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
}

.header-image {
  position: relative;
  margin: 40px 0;
}

.header-image > img:first-child {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.fire-image {
  width: 10%;
  position: absolute;
  top: -10%;
  left: 45%;
}

.ellipse {
  width: 100%;
  position: absolute;
  bottom: -10%;
}

.food1 {
  width: 20%;
  position: absolute;
  bottom: 10%;
  right: 0;
}

.food2 {
  width: 20%;
  position: absolute;
  bottom: -10%;
  right: 25%;
}

.food3 {
  width: 20%;
  position: absolute;
  bottom: -10%;
  left: 25%;
}

.food4 {
  width: 20%;
  position: absolute;
  bottom: 10%;
  left: 0;
}

.card {
  background-color: #0d0d0d;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 30%;
  border-radius: 8px;
  box-shadow: 0 0 5px #424242;
  position: absolute;
  left: 0;
  top: 30%;
  padding: 5px;
}

.card > img {
  width: 40%;
  border-radius: 5px;
}

.card p {
  font-size: 2vw;
}

li > .star-icon {
  color: yellow;
  font-size: 2vw;
}

.card ul {
  display: flex;
  gap: 3px;
}

.card2 {
  background-color: #0d0d0d;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 40%;
  border-radius: 50px;
  box-shadow: 0 0 5px #424242;
  position: absolute;
  right: -20px;
  top: 30%;
  padding: 5px;
}

.card2 p {
  font-size: 2vw;
}

.star-icon {
  color: yellow;
}

.header-info {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.header-info > p:first-child {
  background-color: #f65f5f42;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 14px;
}

.header-info > p:first-child i {
  background-color: #f65f5f;
  color: #fdce77;
  padding: 5px;
  border-radius: 50%;
  margin-right: 5px;
}

.header-info > h1 {
  font-size: 48px;
}

.header-info > h1 span {
  color: #f65f5f;
}

.header-info > h1 span:last-child {
  color: #fdce77;
}

.header-info > p {
  font-size: 20px;
}

.header-search {
  border: 1px solid white;
  width: 100%;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
}

.header-search i {
  color: #0d0d0d;
  padding: 9px;
  background-color: #fdce77;
  border-radius: 50%;
}

.header-search i:first-child {
  color: white;
  background-color: #0d0d0d;
}

.header-info input {
  width: 100%;
  background-color: #0d0d0d;
  border: none;
}

.header-info input:focus {
  border: none;
  outline: none;
  color: #ffffff;
}

.downloads {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}

.button {
  color: #0d0d0d;
  background-color: #f65f5f;
  padding: 10px 20px;
  border-radius: 100px;
  border: none;
}

.downloads i {
  color: #f65f5f;
  padding: 15px;
  box-shadow: 0 0 10px #f65f5f;
  border-radius: 50%;
}

.decor1 {
  position: absolute;
  top: 0;
  right: -30px;
  width: 60vw;
}

.specials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.specials h2 {
  font-size: 48px;
}

.specials h2 span {
  color: #f65f5f;
}

.items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.item {
width: 100%;
  padding: 0 30px 50px 30px;
  text-align: center;
  background: linear-gradient(
    0deg,
    rgba(245, 159, 159, 0.65) 0%,
    rgba(172, 157, 157, 0.096) 100%
  );
  margin-top: 40%;
  border-radius: 20px;
  position: relative;
}

.item-image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -30%;
  margin: -30% auto 10%;
}

.item-image img:first-child {
  width: 80%;
  rotate: 180deg;
  position: absolute;
  top: -12%;
}

.main-item-image {
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  object-fit: cover;
}

.item-image span {
  width: 14vw;
  height: 14vw;
  font-size: 5vw;
  color: #0d0d0d;
  background-color: #fdce77;
  border: 3px solid #0d0d0d;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  right: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.rating-image{
  width: 30%;
}

.rating-image img{
  width: 10vw;
  height: 10vw;
  object-fit: cover;
  border: 2px solid #0d0d0d;
  border-radius: 50%;
  margin-left: -25%;
}

.rating span ,.rating i{
  font-size: 5vw;
}

.item h3{
  color: #f65f5f;
  font-size: 24px;
  margin: 30px 0 16px;
}

.item-button{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: -15px;
}

.items .item:not(:first-child){
  display: none;
}

@media screen and (min-width: 900px) {
  nav > div {
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 0;
    width: 100%;
    min-height: 100%;
    position: relative;
    background-color: #0d0d0d;
    box-shadow: none;
    opacity: 1;
    visibility: visible;
  }

  nav ul {
    flex-direction: row;
  }

  nav .button {
    background-color: #f65f5f;
  }

  nav > svg {
    display: none;
  }

  header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .header-image {
    width: 50%;
  }

  .card p {
    font-size: 1vw;
  }

  li > .star-icon {
    font-size: 1vw;
  }

  .card2 p {
    font-size: 1vw;
  }

  .header-info {
    width: 40%;
  }

  .decor1 {
    width: 30vw;
  }

  .specials p{
    width: 60%;
  }
  /* ////////////// */
  .items {
  flex-direction: row;
  align-items: stretch;
}

.item {
  width: 23%;
  margin-top: 10%;
}

.main-item-image {
  width: 10vw;
  height: 10vw;
}

.item-image img:first-child {
  width: 12vw;
}

.item-image span {
  width: 4vw;
  height: 4vw;
  font-size: 1vw;
  right: 3vw;
}

.rating-image{
  width: 10vw;
}

.rating-image img{
  width: 4vw;
  height: 4vw;
}

.rating span ,.rating i{
  font-size: 1.5vw;
}

.item h3{
  font-size: 2vw;
}

.item p{
  width: 100%;
}

.items .item:not(:first-child){
  display: block;
}

}
